.expan_more {
  background-color: #e2e2e2;
  border-radius: 50%;
  padding: 4px;
}

.expan_more:hover {
  background-color: #cec7c7;
} 

#customFile .custom-file-control:lang(en)::after {
  content: "Select file...";
}

#customFile .custom-file-control:lang(en)::before {
  content: "Click me";
}
.custom-file-input~.custom-file-label::after {
    content: attr(data-label);
}

.input-fecha {
  height: 30px;
  width: 100%;
  padding: 0px 10px;
  border: 1px solid #e0e0e0;
  margin: 0;
  text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
  border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  box-shadow: none;
  color: #000;
  font-size: 1em;
  font-weight: 400;
  direction: ltr;
}

/*ESTILO MULTISELECT BOOTSTRAP*/
.bootstrap-select .btn {
  background-color: white;
  border-color: gainsboro;
}

/*ESTILO DATATABLE*/
.dt-center {
  text-align: center;
}

.dt-right {
  text-align: right;
}

.dt-left {
  text-align: left;
}

.detail_AR {
  text-align: center; 
}

.shown tr td {
  background-color: red!important
}

.dt-back-unit {
  background: #eaebff;
  text-align: right;
}

.dt-back-vtas {
  background: #d3d6ff;
  text-align: right;
}

.dt-vencido {
  background: #ffebee;
  text-align: right;
}

.dt-n-vencido {
  background: #e0f2f1;
  text-align: right;
}

/*Sidebar lateral izquierda*/
#sidebar {
  position: fixed;
  bottom: 0;
  width: 250px;
  height: 100%;
  right: -250px;
  transition: all 150ms linear;
  background-color: white;
}

#sidebar.active {
  right: 0px;
}

#sidebar ul li {
  list-style: none;
  padding: 10px 5px;
  border-bottom: 0px solid rgba(100,100,100,0.3);
}
#sidebar ul li a i {
  font-size: 18px;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}
/*Fin de Sidebar*/

/*Sidebar Menu left*/
.vertical-nav {
  min-width: 14.5rem;
  width: 14.5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

#sidebarCollapse {
  cursor: pointer;
}

#sidebar-menu-left.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.page-content {
  width: calc(100% -17rem);
  margin-left: 14.5rem;
  transition: all 0.4s;
}
/*Fin de Sidebar*/

/*Ventana detalles*/
#page-details {
  position: fixed;
  bottom: 0;
  width: 84%;
  height: 100%;
  right: -100%;
  transition: all 300ms linear;
  background-color: white;
}

#page-details.active {
  right: 0px;
}

#page-details ul li {
  list-style: none;
  padding: 10px 5px;
  border-bottom: 0px solid rgba(100,100,100,0.3);
}
#page-details ul li a i {
  font-size: 18px;
}

#page-details .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}
/*Fin de Sidebar*/

.highcharts-title -> tspan {
  margin-top: 20px!important;
  text-align: left;
}

.highcharts-credits {
  display: none!important;
}

#page-details {
  overflow: scroll
}
/*DATATABLES*/
.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  color:white !important;
  border:0px solid #979797;
  background-color:#87CEEB;
  border-radius: 30%;
}

.dataTables_wrapper .dataTables_paginate {
  font-size: .8rem;
  color: #e2e2e2!important;
}
/*DATATBLES FIN*/
@media screen and (max-width:900px) {
  #page-details {
    width: 100%;
    right: -100%;
  }

  .breadcrumb-item {
    display: none
  }

  #page-details {
    position: fixed;
    bottom: 0;
    width: 84%;
    height: 100%;
    right: -100%;
    transition: all 300ms linear;
    background-color: white;
  }

.page-content {
  width: calc(100%);
  margin-left: 14.5rem;
  transition: all 0.4s;
}


}

@media only screen and (min-width:420px) and (max-width:900px) {
.d-none {
    display: none!important;
}
}

#_version {
   position:fixed;
   text-align: left;
   left: 0px;
   bottom:0px;
   height:25px;
     min-width: 14.5rem;
  width: 14.5rem;
   font-size: 11px;
   
   padding: 5px 10px 0px 10px;   
}


.highcharts-container, .highcharts-container svg {
    width: 100% !important;
    height: 100% !important;
}
.wrapper {
  display: table;
  width: 100%;
}

.element {
  display: table-cell;
  width: 50%;
}